<section id="my-slide-banner">
    <ol id="my-slides-list">
{{ with .Params.bannerImages }}
{{ range . }}
        <li class="my-slide" style="background-image: url({{ . }});"></li>
{{ end }}
{{ else }}
        <li class="my-slide" style="background-image: url(/images/banner.jpg);"></li>
{{ end }}
    </ol>
    <span class="nav fa fa-chevron-left fa-3x" id="left"></span>
    <span class="nav fa fa-chevron-right fa-3x" id="right"></span>
    <header>
        <h2>{{ .Site.Title }}</h2>
    </header>
</section>
